:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #457b9d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.navbar h1 {
  font-size: 22px;
}

.navbar img {
  width: 60px;
  height: auto;
  border-radius: 0;
  object-fit: contain;
}

/* Contenedor principal */
.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background-color: #1d3557;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 40px;
  font-size: 22px;
  text-align: center;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  padding: 12px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #457b9d;
}

.main {
  flex: 1;
  padding: 40px;
  overflow-y: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main h1 {
  font-size: 32px;
  color: #1d3557;
  margin-bottom: 15px;
}

.main p {
  font-size: 18px;
  color: #333;
}

.btn-permiso {
  padding: 12px 20px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;

  margin-bottom: 15px;
}

.btn-permiso:hover {
  background: #125aa0;
}

@media(max-width: 768px) {

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }

  .sidebar h2 {
    display: none;
  }

  .sidebar a {
    margin-bottom: 0;
  }

  .main {
    padding: 20px;
  }

  .navbar h1 {
    font-size: 18px;
  }

  .navbar img {
    width: 50px;
  }
}